[submodule "vim/vim/bundle/command-t"]
	path = vim/vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
	branch = master
[submodule "vim/vim/pack/tpope/start/vim-vinegar"]
	path = vim/vim/pack/tpope/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
	branch = master
[submodule "vim/vim/bundle/bundle/command-t"]
	path = vim/vim/bundle/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vim/vim/pack/tpope/start/unimpaired"]
	path = vim/vim/pack/tpope/start/unimpaired
	url = https://tpope.io/vim/unimpaired.git
	branch = master
